<!-- <div ng-controller="ScrapesCtrl" ng-init="showScrapes()"> -->


<div ng-init="showFriendsList()">

    <div class="search_area">
      <form class="form-horizontal" role="form" >
        <div class="form-group">
          <!--   -->
          <div class="col-md-8">
            <input class="input_field search_field" placeholder="username" ng-keyup="queryForFriend()" ng-model="userSearch.friendName">
          </div>
            <!-- <button ng-click="addFriend()" type="submit" class="btn outline btn-primary btn-sm"> + </button> -->

          <div class="col-sm-10" ng-repeat="name in userSearchResult">
            <span ng-bind="name.name"></span>

            <button ng-click="addFriend(name.name, name._id)" type="submit" class="btn outline btn-primary btn-sm"> + </button>

          </div>
      </form>
    </div>

    <hr>


    <div>
      <h2>Friend's list</h2>
    </div>

    <div id="masonry-container">
      <form role="form">
        <div class="friend_select">

          <div class="friend_list" ng-repeat='friend in friendsList'>
            <input id="{{friend.friendName}}" type="radio" value="{{friend.friendId}}" ng-model="friendActionObject.friendId" ng-click="uncheck($event)">
            <label for="{{friend.friendName}}">
              <span ng-bind="friend.friendName"></span>
            </label>
          </div>

      </div>

      <div>
        <div class="col-sm-10 custom_btn">
          <button ng-click="createChatroom()" type="submit" class="btn outline btn-primary btn-sm">Create Chatroom</button>
         <!--  {{loadResponse}} -->
          <button ng-click="deleteFriend()" class='btn outline btn-primary btn-sm right_align'>Delete Friend</button>
        </div>
      </div>

      </form>
    </div>

</div>








