<!-- <div ng-controller="ScrapesCtrl" ng-init="showScrapes()"> -->


<div ng-init="showFriendsList()">

    <div class="search_area">
      <form class="form-horizontal" role="form" >
        <div class="form-group">
          <!--   -->
          <div class="col-md-8">
            <input class="input_field search_field" placeholder="username" ng-keyup="queryForFriend()" ng-model="userSearch.friendName">
          </div>
            <button ng-click="addFriend()" type="submit" class="btn outline btn-primary btn-sm">Add Friend</button>
          <div class="col-sm-10">
            <span ng-bind="userSearchResult.name"></span>
            <!-- <span ng-bind="userSearch.param"></span> -->
          </div>
      </form>
    </div>

    <hr>


    <div>
      <h2>Friend's list</h2>
    </div>
    <div id="masonry-container">
      <form role="form">
        <div class="friendList">

          <div ng-repeat='friend in friendsList'>
              <input id="{{friend.name}}" type="radio" value="{{friend.friendId}}" ng-click="uncheck($event)">
              <label for="{{friend.name}}">
                <img ng-src="{{friend.name}}">
              </label>
              <button ng-click="deleteFriend()"type="submit" class="btn outline btn-primary btn-sm"> - </button>
          </div>

        </div>
      </form>
    </div>

</div>








