/*body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

.navbar {
  border-radius: 0;
}

.gif_select {
  height: 300px;
  width : 500px;
  overflow-x: scroll;
  overflow-y: scroll;
}

.masonry-brick {
  margin: 1em;
  display: inline-block;
}

#chatroom {
  height: 500px;
  border: 1px solid black;
  overflow-x: scroll;
  overflow-y: scroll;
}
