/*body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

.navbar {
  border-radius: 0;
}

.chat_field {
  width: 400px;
}

.gif_select {
  height: 440px;
  width : 500px;
  overflow-x: scroll;
  overflow-y: scroll;
}

.custom_btn{
  padding: 10px;
}

.masonry-brick {
  margin: 1em;
  display: inline-block;
}

#chatroom {
  padding: 10px;
  height: 600px;
  border: 1px solid black;
  overflow-x: scroll;
  overflow-y: scroll;
}
