body {
  background-color: #FCFCFC;
}

.main_view{
  height: 80vh;
  /*height: 80%;*/
}

.right_align {
  float: right;
}

.container {
  /*width: 87vw;*/
  width: 95%;
  /*width: 100%;*/
}



/* NAVBAR */
ul.nav a:hover {
  color: #fff;
}

.navbar a{
  color: #71637D;
}

.navbar-header>a:hover{
  color: #3B3B3B;
}

.navbar {
  border-radius: 0;
  background-color: #F7F7F7;
}


.navbar-brand{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: left;
  margin: auto;
}

.nav>li>a:focus, .nav>li>a:active:focus{
  color: #fff;
  background-color: #D3BECF;
}




/* BUTTONS */
.btn.outline {
    background: none;
    padding: 3px 12px;
}

.btn-primary.outline {
    border: 2px solid #404040;
    color: #71637D;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #71637D;
    border-color: #404040;
    background-color: #D3BECF;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #D3BECF;
    color: #D3BECF;
    box-shadow: none;
}



/* HISTORIES */
.history_user{
  float: right;
}




/* CHATROOM */
.chat_field{
  /*width: 27vw;*/
  width: 80%;
}

.search_area{
  padding: 20px 0px 0px 0px;
}

.search_field{
  /*width: 16vw;*/
  width: 100%;
}

.input_field {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #bdbdbd;
}


/* chat navbar */
.sub_nav a{
  color: #71637D;
}

.sub_nav>ul>li a:focus{
  color: #fff;
}
.sub_nav>ul>li a:active:focus{
  color: #fff;
}
.sub_nav-nav>li>a{
  padding-top: 7px;
  padding-bottom: 7px;
}

.nav_tab{
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  width: 6.5vw;
  /*width: 8%;*/
  text-align: center;
  background-color: #FAFAFA;
  padding: 0;
}




/* CHAT CONTENT */
#chatroom {
  padding: 10px;
  height: 75vh;
  /*height: 75%;*/
  width: 55vw;
  /*width: 55%;*/
  border: 2px solid #bdbdbd;
  border-radius: 10px;
  overflow-x: scroll;
  overflow-y: scroll;
}

.userChat{
  color: blue;
}

.userTimestamp{
  font-size: 0.7em;
}

.chatContent{
  padding-left: 10px;
}




/* GIF TOOLS */
.masonry-brick input[type="radio"] {
    display: none;
}

.masonry-brick input[type="radio"]:checked + label {
    opacity: 0.6;
}

.gif_select {
  height: 61vh;
  /*height: 61%;*/
  overflow-x: scroll;
  overflow-y: scroll;
  border: 2px solid #bdbdbd;
  border-radius: 10px;
}

.custom_btn{
  padding: 15px;
}

.masonry-brick {
  margin: 1em;
  display: inline-block;
}

/* Favorites */
.favorite_select {
  height: 75vh;
  /*height: 75%;*/
  overflow-x: scroll;
  overflow-y: scroll;
  border: 2px solid #bdbdbd;
  border-radius: 10px;
  margin: 20px 0 0 0;
}

/* Recents */
.recents {
  height: 75vh;
  /*height: 75%;*/
  overflow-x: scroll;
  overflow-y: scroll;
  border: 2px solid #bdbdbd;
  border-radius: 10px;
  margin: 20px 0 0 0;
}

/* Friend List */

.friend_list input[type="radio"] {
    display: none;
}

.friend_select{
  height: 61vh;
  /*height: 61%;*/
  overflow-x: scroll;
  overflow-y: scroll;
  border: 2px solid #bdbdbd;
  border-radius: 10px;
  padding: 10px;
}

.friend_list input[type="radio"]:checked + label {
    color: #D3BECF;
}






