body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  border-radius: 0;
}


.masonry-brick {
  margin: 1em;
  display: inline-block;
}

