<!-- <div ng-controller="ScrapesCtrl" ng-init="showScrapes()"> -->
<div ng-init="showScrapes()">

  <div>
    <form class="form-horizontal" role="form" >
      <div class="form-group">
        <label class="col-sm-2 control-label">Gifs to search for</label>
        <div class="col-sm-4">
          <input class="form-control" placeholder="tag" ng-model="gifSearch.tag">
        </div>
          <button ng-click="searchGifs()" type="submit" class="btn btn-success">Search Gifs</button>
          {{searchResult}}
      </div>
    </form>
  </div>

  <hr>
  <div id="masonry-container">
    <form role="form">

      <div masonry>
        <div>
          <h2>{{tag}}</h2>
        </div>
        <div class="masonry-brick" ng-repeat='url in gifs'>
          <input type="checkbox" name="{{url.url}}"><img ng-src="{{url.url}}">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button ng-click="searchGifs()" type="submit" class="btn btn-success">Save Gifs</button>
          {{searchResult}}
        </div>
      </div>
    </form>
  </div>
</div>








