<!-- <div ng-controller="ScrapesCtrl" ng-init="showScrapes()"> -->


<div ng-init="showScrapes()" >

  <div >
    <form class="form-horizontal" role="form" >
      <div class="form-group">
        <label class="col-sm-2 control-label">Gif search</label>
        <div class="col-sm-4">
          <input class="form-control" placeholder="tag" ng-model="gifSearch.tag">
        </div>
          <button ng-click="searchGifs()" type="submit" class="btn btn-success">Search Gifs</button>
          {{searchResult}}
      </div>
    </form>
  </div>

  <hr>

  <nav class="navbar navbar-inverse" role="navigation">
      <ul class="nav navbar-nav">
          <li><a ui-sref="favorite">Recent</a></li>
          <li><a ui-sref="chat">Favorites</a></li>
      </ul>
  </nav>

  <div>
    <h2>{{tag}}</h2>
  </div>
  <div id="masonry-container">
    <form role="form">
      <div masonry class="gif_select">
        <div class="masonry-brick" ng-repeat='url in gifs'>
          <input type="radio" value="{{url.url}}" ng-model="loadedGif.url" ng-click="uncheck($event)"><img ng-src="{{url.url}}">
        </div>
      </div>
      <div>
        <div class="col-sm-10">
          <button ng-click="setUrl()" type="submit" class="btn btn-success">Load Gif</button>
          {{searchResult}}{{loadResponse}}
          <button class='btn btn-sm'>Save to Favorites</button>
        </div>
      </div>
    </form>
  </div>

</div>








