<div class='container'>
  <!-- <div ng-controller='ChatCtrl'> -->
  <div>
    Logged in as:  <span ng-bind="nickName"></span>
    <br/>
    <div class='row'>
      <div id="chatroom"  scroll-glue="glued" class='col-md-7'>
          <div ng-repeat="message in chatSession track by $id($index)">
            <div>
              {{message.text}}
              <img ng-src="{{message.url}}">
            </div>
          </div>
      </div>
    </div>
    <div class='row'>
      &nbsp;
    </div>
    <div class='row'>
      <div class='col-md-5'>
        <form role='form' novalidate name='form'>
          <div class='form-group'>
            <input class='input_field chat_field' type='text'required ng-max='50' ng-model='message' focus>
            {{loadResponse}}
            <button class='btn btn-sm btn-primary' ng-enable='form.$valid' ng-click="sendMessage()">Send!</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
