<div ng-init="showAllRecents()">
  <!-- for all tags, ng-repeat -->
  <!-- on click of tag/button, query, return, and ng-repeat show all gifs for that tag -->
    <!-- <div>
      <h2 ng-bind="tag"></h2>
    </div> -->
    <div id="masonry-container">
      <form role="form">
        <div masonry class="recents">
          <div class="masonry-brick" ng-repeat='recent in mostRecent'>
              <input id="{{recent.url}}" type="radio" value="{{recent.url}}" ng-model="loadedGif.url" ng-click="uncheck($event)">
              <label for="{{recent.url}}">
                <img ng-src="{{recent.url}}">
              </label>
          </div>




        </div>
        <div>
          <div class="col-sm-10 custom_btn">
            <button ng-click="setUrl()" type="submit" class="btn outline btn-primary btn-sm">Load Gif</button>
            <!-- <button ng-click="deleteFavorite()" class='btn outline btn-primary btn-sm right_align'>Delete Favorite</button>
          </div> -->
        </div>
      </form>
    </div>

</div>








